.form-header {
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-subtext {
  margin-top: 8px;
  margin-bottom: 16px;
}

.form-content {
  text-align: center;

  width: 50%;
  height: auto;

  position: absolute;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.form-image {
  width: 30%;
}

/* Changeing CSS for Mobile */

@media (max-width: 50em) {
  .form-content {
    width: 75%;
  }
}
