.welcome-text {
  margin-bottom: 8px;
}

.welcome-subtext {
    margin-bottom: 24px;
}

.welcome-content {
  text-align: center;

  width: 75%;
  height: auto;
  
  position: absolute;
  top: 10em;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

/* Changeing CSS for Mobile */

@media (max-width: 50em) {
  .welcome-content {
    top: 10%;
  }
}